body {
    color: #000;
    background-color: #fff;
    font-family: "Helvetica", arial, sans-serif;
    margin: 0;
    -webkit-print-color-adjust: exact
}

table.voucher {
    display: inline-block;
    border: 2px solid #000;
    margin: 2px;
    background-color:#fff
}

@page {
    size: auto;
    margin-left: 7mm;
    margin-right: 3mm;
    margin-top: 9mm;
    margin-bottom: 3mm
}

@media print {
    table,
    td,
    tr {
        page-break-after: auto
    }
    td,
    tr {
        page-break-inside: avoid
    }
    thead {
        display: table-header-group
    }
    tfoot {
        display: table-footer-group
    }
}
.rotate {
    vertical-align: bottom;
    text-align: center
}
.rotate span {
    -ms-writing-mode: tb-rl;
    -webkit-writing-mode: vertical-rl;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    white-space: nowrap
}
label {
    font-weight: 700
}